*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #EEEFFB;
    color: #a47a7a;
    margin-top: auto;    
}

.footer-section{
    flex: 1;
    margin: 10px;
}

.footer-section h2{
    font-family: "Josefin Sans", sans-serif;
    margin-top: 94px;
    margin-bottom: 20px;
    font-size: 22px;
    color: #000;
}

.footer-section a{
    color: #8A8FB9;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

ul{
    list-style: none;
    text-decoration: none;
}
li{
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-section h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 38px;
    margin-top: 95px;
    color: #000;
    margin-left: 10px;
}
.footer-section p{
    font-family: "Lato", sans-serif;
    color: #8A8FB9;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}

.input-items{
    display: flex;
    position: relative;
}

.input-items input{
    flex: 1;
    padding: 10px 140px 10px 20px;
    width: 377px;
    height: 44px;
    margin-top: 20px;
    margin-left: 12px;
    border: none;
}

.signup-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 135px;
    height: 39px;
    background-color: #FB2E86;
    color: #fff;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    border: none;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.last-footer{
    display: flex;
    justify-content: space-around;
    background-color: #E7E4F8;
    color: #9DA0AE;
    padding: 20px;
}

@media (max-width: 768px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .footer {
    flex-direction: column;
    height: auto;
  }
  .footer-section {
    text-align: center;
    margin: px;
    width: 100%;
  }
  .footer-section h1 {
    margin-top: 20px;
  }
  .footer-section h2 {
    margin-top: 20px;
  }
  .footer-section ul{
    padding: 0;
    text-align: center;
  }

  .footer-section li{
    text-align: center;
  }

  .input-items input{
    width: 100%;
  }
  .input-items button{
    width: 80px;
    margin-right: 20px;
    padding: 0;
  }
  .last-footer {
    flex-direction: column;
    align-items: center;
  }
  .last-footer .left, .last-footer .right {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .input-items input {
    width: 100%;
  }
  .signup-btn {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .footer-section {
    margin: 10px;
  }
}